<% include ../layout/templates/header %>
<% include ../layout/templates/navbar %>
#set ( $uncapitalizedEntityName = ${fn.uncapitalize($entity.name)})

<div class="container" id="entityList">
    <div class="panel panel-warning">
        <div class="panel-heading"><h2>Edit ${entity.name}</h2></div>
        <div class="panel-body">
            <form id="${uncapitalizedEntityName}Form" v-on:submit.prevent="save">
#foreach ( $attrib in $entity.attributes )
#if ( $attrib.type == "Date" )
                <div class="form-group">
                    <label for="input${entity.name}${attrib.name}">${attrib.name}</label>
                    <input type="date" class="form-control"
                           v-model="${uncapitalizedEntityName}.${attrib.name}" placeholder="Enter ${entity.name} Year">
                </div>
#else
                <div class="form-group">
                    <label for="input${entity.name}${attrib.name}">${attrib.name}</label>
                    <input type="text" class="form-control"
                           v-model="${uncapitalizedEntityName}.${attrib.name}" placeholder="Enter ${entity.name} ${attrib.name}">
                </div>
#end
#end
                <div id="warningMessage" class="alert alert-danger" v-bind:style="'display:'+error.display">
                    {{ error.errorCode }} : {{ error.message }}
                </div>
                <input type="submit" id="save${entity.name}" class="btn btn-warning" value="Update ${entity.name}">
                <a href="../../${uncapitalizedEntityName}">
                    <button type="button" class="btn btn-info">Back to the list</button>
                </a>
            </form>
        </div>
    </div>
</div>
#set ( $keyAttribs = "" )
#foreach ( $key in $entity.keyAttributes )
#if ( $foreach.count > 1 )
#set ( $keyAttribs = $keyAttribs + "; " )
#end
#set ( $keyAttribs = $keyAttribs + $key.name )
#end
<script>
    formEdit${entity.name}(<%= $keyAttribs %>);
</script>